@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A virtual tour is actually a hybrid concept,it combines virtual reality with tourism.A virtual tourism experience is essentially a tourism experience without having to travel anywhere.
    <br />There is a wide spectrum of digitally mediated reality that is referred to as virtual tourism, including virtual reality, mixed reality and augmented reality.

    <br /><br />There is a wide range of virtual activities that extend far beyond the scope of the tourism industry. The majority of homebuyers no longer view houses personally and instead use a virtual tour to make their decisions.
    Virtual reality is being used by people to tour museums and by teachers to enhance their students' educational experience.

</p>
<img src="~/image/IMG_20220616_131406.jpg" width="300px" height="auto"/> 