@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To The Virtual Tour System</h1>
    <p class="lead">This is website for Virtual Tour purpose for UTM Students Learning Session.</p>
    <p><a href="@Url.Action("Index","Login")" class="btn btn-primary btn-lg">Let's Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Experience To Explore!</h2>
        <p>
            Try out the new experience of virtual touring inside of UTM School of Chemical and Energy Engineering  facilities such as Labs, Workshops and so much more.
        </p>
        <img src="~/image/1-Chem-eng-building.jpg" width="300px" height="auto" />
        </br>Blok N01a,School of Chemical Engineering.
    </div>
    <div class="col-md-4">
        <h2>Location</h2>
        


        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=School%20of%20Chemical%20and%20Energy%20Engineering,%20Faculty%20of%20Engineering&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 600px;
            }
        </style><a href="https://www.embedgooglemap.net">embed code google maps</a>
        <style>
            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 300px;
                width: 400px;
            }
        </style></div></div>

    </div>
</div>